
#span-logo {
    color:#E49273;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color:#A3A3A1;
}

a:hover {
    text-decoration: none;
    color: #fafafa;
}


.head_text {
    color: white;
}


.image-container {
    position: relative;
}



.card-img-overlay {
    background-color:rgba(0,0,0,0.2);
}



.card-content-style {
    color:#fafafa;
    text-shadow:1px 2px 8px black;
}

.button {
    border: solid 1px #fafafa;
    border-radius: 5px;
    padding: 2px 2px 2px 5px;
    width: 150px;
}

.button:hover {
    background-color: #A3A3A1;
}

.post-detail-image {
    border-radius: 20px;
}


