
{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}
{% if comment.name == user.username %}
            <div class="row page-height" >
                <div class="col-lg-4 col-md-6 col-sm-8  mb-4  mt-3 ">
                    <div class="card-body">
                      <h1>Are You sure You want to delete this comment!</h1>
              <p>These changes are permanent and cannot be undone.</p>
              <form method="POST">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'home' %}"  class="btn btn-info">Back to home page</a>
            </form>
        </div>
    </div>
</div>
            {% else %}
<div class="row page-height" >
    <div class="col-lg-4 col-md-6 col-sm-8  mb-4  mt-3 ">
        <div class="card-body">
          <h1>Sorry This page does not exsist</h1>
            <a href="{% url 'home' %}"  class="button">Back to the home page</a>
            </div>
        </div>
    </div>
{% endif %}     
{% endblock content %}