{% extends "base.html" %}

{% block content %}


        <div class="row page-height">
           
            <div class=" col-lg-6 col-md-12">
                <!-- Post title goes in these h1 tags -->
                <hr>
     
                <h2> About HikeIt</h2>

                <p>HilkeIt is the perfect blog for you who love to travel and especially to experience new exciting views from marvellous mountains. 
                    </p>
                    <p>
                    We provide posts with tips for you who want to make your first hike and for you with experience and want tips on new locations and practical information. 
                </p>
                    <p>
                    Now, are you ready to get inspired? Read our blog and prepare for your next amazing trip! 
                    </p>
            </div>
            <div class=" col-md-12 col-lg-6  mb-3 mt-3">

                
                <img class="post-detail-image img-fluid max-width:100%;" src="https://res.cloudinary.com/dl535zny9/image/upload/v1659983114/mig_trolltunga_jaazgv.jpg" alt="Picture of a mountain">
                
            </div>

        </div>
            
           

  


{%endblock%}