{% extends "base.html" %}

{% block content %}


        <div class="row page-height">
            <div class=" col-md-12 col-lg-6 justify-content-center mt-3 ml-3">
                <!-- The featured image URL goes in the src attribute -->
                
                <img class="post-detail-image img-fluid max-width:100%;" src="https://res.cloudinary.com/dl535zny9/image/upload/v1659001556/fn4gryzjxymxtuv79f8n.jpg">
                
            </div>

            <div class="col-md-12 col-lg-6 ">
                <!-- Post title goes in these h1 tags -->
                <hr>
     
                <h1> About HikeIt</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p>HilkeIt is the perfect blog for you who love to travel and especially to experience new exciting views from marvellous mountains. 
                    </p>
                    <p>
                    We provide posts with tips for you who want to make your first hike and for you with experience and want tips on new locations and practical information. 
                </p>
                    <p>
                    Now, are you ready to get inspired? Read our blog and prepare for your next amazing trip! 
                    </p>
            </div>
        </div>
            
           

  


{%endblock%}