{% extends "base.html" %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0 mt-3 top">
            <div class="col-md-6 col-lg-6 masthead-text d-flex flex-column justify-content-left">
                <!-- Post title goes in these h1 tags -->
                <h1> About HikeIt</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p> This is a place for hike lovers!</p>
            </div>
            <div class=" col-md-6 col-lg-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                
                <img class="post-detail-image img-fluid max-width:100%;" src="https://res.cloudinary.com/dl535zny9/image/upload/v1659005273/odxq8grzb9xho29a6kwa.jpg">
                
            </div>
            
           
        </div>
    </div>
</div>

{%endblock%}