{% extends "base.html" %}

{% block content %}

<div class="container-fluid page-height">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="card mb-4">
                        <div >
                            <div class="image-container">

                                <img class="card-img" src=" {{ post.featured_image.url }}" alt="Cover image">
                                <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                                        <h2 class="card-title card-content-style">{{ post.title }}</h2>

                                        <p class="author card-content-style">Author: {{ post.author }}</p>
                                        <a href="{% url 'post_detail' post.slug  %}" class="card-content-style button">Read More &rarr;</a>
                                    
                                        <p class="like card-content-style" ><i class="far fa-heart likes"></i>
                                            {{ post.number_of_likes }}</p>
                                </div>
                                
                                <div class="image-flash">
                                    
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if is_paginated %}
<div>
    <div class="pegnation-nav" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">PREV PAGE</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="pagination-link"> NEXT PAGE</a></li>

            {% endif %}
        </ul>
    </div>
    {% endif %}
    </div>


{%endblock%}

